{% extends "base.html.twig" %}

{% block body %}
<h1>{{ character.firstname }} {{ character.lastname}}</h1>
<p>
    <a href="{{ path('backoffice_character_edit', {id: character.id})}}">Editer</a>
</p>

<p>
    <a href="{{ path('backoffice_character_delete', {id: character.id})}}">Supprimer</a>
</p>


    <h3>Age</h3>
        <p>{{ character.age }}</p>
    <h3>Genre</h3>
        <p>{{ character.gender }}</p>
    <h3>Biographie</h3>
        <p>{{ character.bio }}</p>

<p>
    <a href="{{ path('backoffice_character_index') }}">Retour à la liste des personnages</a>
 </p>

{% endblock %}