{% extends 'backoffice/layout.html.twig' %}

{% block title %}Editer TvShow{% endblock %}

{% block content %}

    <h1>Editer TvShow</h1>
    <p>
        <a href="{{ path('backoffice_season_index', {id:tv_show.id}) }}">Toutes le saisons</a>

        <a href="{{ path('backoffice_season_add', {id: tv_show.id})}}">Ajouter une saison</a>
    </p>
    <p>{{ include('backoffice/tv_show/_form.html.twig', {'button_label': 'Valider'}) }}</p>

    <p>{{ include('backoffice/tv_show/_delete_form.html.twig') }}</p>

    <p><a class="btn btn-primary" href="{{ path('backoffice_tv_show_index') }}">Revenir à la liste</a></p>
{% endblock %}
