{% extends 'backoffice/layout.html.twig' %}

{% block title %}Index séries - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Liste des séries</h1>

    <a class="btn btn-primary" href="{{ path('backoffice_tv_show_new') }}">Ajouter une série</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Synopsis</th>
                <th>Image</th>
                <th>NbLikes</th>
                <th>Date de publication</th>
                <th>Image</th>
                <th>Dernière mise à jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tv_show in tv_shows %}
            <tr>
                <td>{{ tv_show.id }}</td>
                <td>{{ tv_show.title }}</td>
                <td>{{ tv_show.synopsis }}</td>
                <td>{{ tv_show.image }}</td>
                <td>{{ tv_show.nbLikes }}</td>
                <td>{{ tv_show.publishedAt ? tv_show.publishedAt|date('d-m-Y H:i:s') : '' }}</td>
                    <td>
                        <img src="{{ asset('uploads/' ~ tv_show.image)}}" width=100 alt="image de la série {{ tv_show.title }}">
                    </td>
                <td>{{ tv_show.updatedAt ? tv_show.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('backoffice_tv_show_show', {'id': tv_show.id}) }}">Voir</a>
                    <a href="{{ path('backoffice_tv_show_edit', {'id': tv_show.id}) }}">Editer</a>
                    <a href="{{ path('backoffice_tv_show_delete', {'id': tv_show.id}) }}">Supprimer</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
